<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Edit Recipe</h1>
        <div class="col-10 offset-1">
            <form id="recipeForm" action="/recipes/<%=recipe._id%>?_method=PUT" method="POST" novalidate
                class="validated-form" enctype="multipart/form-data">
                <div class="mb-4 pb-4">
                    <div class="mb-3">
                        <h3>General Info 🥧</h3>
                        <label class="form-label" for="title">Recipe name:</label>
                        <div class="col-12 col-sm-10 col-md-5 col-xl-4">
                            <input class="form-control" type="text" id="title" name="recipe[title]"
                                placeholder="e.g. Eleni's gourmet carrot soup" value="<%=recipe.title%>" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a recipe name
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Briefly describe this recipe (4 sentences
                            max.):</label>
                        <div><textarea class="form-control" id="description" name="recipe[description]" rows="5"
                                cols="50" maxlength="1300" required
                                placeholder="e.g. Eleni's gourmet carrot soup is a comforting blend of fresh carrots, onions, and a hint of spice, simmered to perfection for a hearty and satisfying meal that's sure to warm you up on chilly days."><%= recipe.description %></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a brief description
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="country">Recipe origin country:</label>
                        <select class="form-select" name="recipe[countryCode]" id="country" required>
                            <% Object.entries(countryInfoData).forEach(([code, country])=> { %>
                                <option value="<%= code %>" <%=code===recipe.countryCode ? ' selected' : '' %>>
                                    <%= country.countryFullname %>
                                        <%= country.countryFlag %>
                                </option>
                                <% }); %>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <p>Preparation time:</p>
                        <div class="row g-1">
                            <div class="col-6 col-sm-3 col-lg-2 col-xl-2">
                                <select class="form-select text-center" id="prepHours" name="recipe[prepHours]">
                                    <% if (recipe.prepHours===null) { %>
                                        <option value="" selected>-</option>
                                        <% for (let i=1; i <=48; i++) { %>
                                            <option value="<%= i %>">
                                                <%= i %>
                                            </option>
                                            <% } } else { %>
                                                <option value="">-</option>
                                                <% for (let i=1; i <=48; i++) { %>
                                                    <option value="<%= i %>" <%=recipe.prepHours===i ? 'selected' : ''
                                                        %>>
                                                        <%= i %>
                                                    </option>
                                                    <% }} %>
                                </select>
                            </div>
                            <div class="col-4 col-sm-2 col-lg-1 text-start mt-3 ml-0 pl-0">
                                <label class="form-label" for="prepHours">hours</label>
                            </div>
                            <div class="col-6 col-sm-3 col-lg-2 col-xl-2">
                                <select class="form-select text-center" id="prepMinutes" name="recipe[prepMinutes]"
                                    placeholder="minutes">
                                    <% if (recipe.prepMinutes===null) { %>
                                        <option value="" selected>-</option>
                                        <% for (let i=5; i <=55; i +=5) { %>
                                            <option value="<%= i %>">
                                                <%= i %>
                                            </option>
                                            <% } } else { %>
                                                <option value="">-</option>
                                                <% for (let i=5; i <=55; i +=5) { %>
                                                    <option value="<%= i %>" <%=recipe.prepMinutes===i ? 'selected' : ''
                                                        %>>
                                                        <%= i %>
                                                    </option>
                                                    <% } } %>
                                </select>
                            </div>
                            <div class="col-4 col-sm-2 col-lg-1 text-start mt-3 ml-0 pl-0">
                                <label class="form-label" for="prepMinutes">minutes</label>
                            </div>
                            <div id="prepTimeValidation" class="">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="serves">Serves (number of people):</label>
                        <div class="col-5 col-lg-2 col-xl-2">
                            <select class="form-select text-center" id="serves" name="recipe[serves]" required>
                                <option value="">-</option>
                                <% for (let i=1; i <=15; i++) { %>
                                    <option value="<%= i %>" <%=recipe.serves===i ? 'selected' : '' %>>
                                        <%= i %>
                                    </option>
                                    <% } %>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a number
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-4 pb-4">
                    <h3>Ingredients 🦑</h3>
                    <label class="form-label" aria-label="Disabled select example" for="preferredSystem">1. Preferred
                        measurement system:</label>
                    <div class="col-9 col-sm-6 col-md-4 col-xl-3">
                        <select class="form-select" name="preferredSystem" id="preferredSystem"
                            onchange="UpdateHiddenInput()">
                            <option value="metric" <%=(user.measurementSystem==='metric' ||
                                user.measurementSystem===null || user.measurementSystem===undefined) ? 'selected' : ''
                                %>>Metric
                            </option>
                            <option value="imperial" <%=user.measurementSystem==='imperial' ? 'selected' : '' %>
                                >Imperial</option>
                        </select>
                    </div>
                    <input type="hidden" name="recipe[measurementSystem]" id="measurementSystemHidden">
                    <div class="mt-2">
                        <p>2. Recipe ingredients:</p>
                        <p class="small text-muted">Valid ingredient format: 1 tablespoon oregano, 0.5 kilograms
                            potatoes, 3 apples, salt.
                            Please <b>do not</b> use fractions like '2/3 cups of flour'.</p>
                    </div>
                    <div id="ingredientsContainer" class="row list-group">
                        <!-- Ingredient input fields will be dynamically added here -->
                    </div>
                    <div id="emptyIngredientsMessage">
                        <!-- Empty ingredients message will be displayed here -->
                    </div>
                    <div id="metricIngredients"
                        data-metric-recipe-ingredients="<%= JSON.stringify(recipe.ingredients) %>">
                    </div>
                    <div id="imperialIngredients"
                        data-imperial-recipe-ingredients="<%= JSON.stringify(convertedIngredients) %>"></div>
                    <button type="button" class="btn btn-primary mt-2" onclick="addIngredient();">Add
                        Ingredient</button>
                </div>
                <div class="mb-4 pb-4">
                    <h3>Method ✏️</h3>
                    <p>Recipe steps:</p>
                    <p class="small text-muted">Recommended format: Preheat oven at 150°C. Whilst the oven is warming up
                        chop the onions and potatoes.</p>
                    <div id="stepsContainer">
                        <!-- Steps input fields will be dynamically added here -->
                    </div>
                    <div id="missingMethodMessage">
                        <!-- Method Method message will be displayed here -->
                    </div>
                    <div id="recipeMethod" data-recipe-method="<%= JSON.stringify(recipe.method) %>"></div>
                    <button type="button" class="btn btn-primary" onclick="addStep()">Add Step</button>
                </div>

                <div class="mb-4 pb-4">
                    <h3>Images 📸</h3>
                    <div id="existingImagesContainer">
                        <p>Existing images:</p>
                        <div id="cardHolder" class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
                            <% recipe.images.forEach(function(img, i){%>
                                <div class="col miniContainer">
                                    <div class="card h-100">
                                        <div class="card-body d-flex justify-content-center align-items-center h-75">
                                            <img src="<%=img.url %>" class="card-img img-thumbnail previewImage mx-auto"
                                                alt="<%=img.altText%>">
                                        </div>
                                        <div
                                            class="card-body d-flex flex-column justify-content-end align-items-center">
                                            <label for="altText<%=i%>" class="form-label"
                                                name="altTextLabel[<%=i%>]">Image
                                                <%=i +1 %>
                                                    description:
                                            </label>
                                            <input type="text" class="form-control" id="altText<%=i%>" maxlength="300"
                                                value="<%=img.altText%>" name="altText[<%=i%>]" required>
                                            <div class="form-check-inline mt-1 text">
                                                <input type="checkbox" class="btn-check" id="image-<%=i%>"
                                                    name="deleteImages[]" value="<%=img.filename %>">
                                                <label class="btn btn-danger" name="deleteImageButton"
                                                    for="image-<%=i%>">Delete</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% })%>
                        </div>
                    </div>
                    <div id="existingImages" data-recipe-images="<%= JSON.stringify(recipe.images) %>" class="mb-3">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="fileInput">Add new images:</label>
                        <input class="form-control" type="file" id="fileInput" name="recipe[images]" multiple>
                        <div id="imagesValidation">
                            <!-- Images Validation messages will be displayed here -->
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 mb-3" id="newImagesContainer"></div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger" id="clearButton" id="clearButton"
                            style="display: none;" onclick="clearFileInput()">Clear new images</button>
                    </div>
                </div>

                <div class="my-3">
                    <div id="formMessage"></div>
                    <button class="btn btn-success col-12 col-lg-4 offset-lg-4 mt-3" type="submit">Update
                        Recipe</button>
                </div>
            </form>
            <a href="/recipes/<%= recipe._id %>" class="link-secondary">Back to Recipe</a>
        </div>
    </div>

    <script src="/javascripts/editViewFunctionality.js"></script>
    <script src="/javascripts/formsCommonFunctionality.js"></script>
    <script src="/javascripts/commonValidation.js">
    </script>