<% layout ('layouts/boilerplate') %>

    <div class="row">
        <div class="mb-2 pb-2">
            <h1 class="text-center">New Recipe</h1>
        </div>
        <div class="col-10 offset-1">
            <form id="recipeForm" action="/recipes" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-4 pb-4">
                    <div class="mb-3">
                        <h3>General Info 🥧</h3>
                        <label class="form-label" for="title">Recipe name:</label>
                        <div class="col-12 col-sm-10 col-md-5 col-xl-4">
                            <input class="form-control" type="text" id="title" name="recipe[title]"
                                placeholder="e.g. Divine turkey steak" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a recipe name
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Briefly describe this recipe (4 sentences
                            max.):</label>
                        <div><textarea class="form-control" id="description" name="recipe[description]" rows="5"
                                cols="50" maxlength="1300" required
                                placeholder="e.g. Savor the delicious combination of expertly seasoned pan-seared turkey steaks paired with al dente garlic Parmesan pasta. This quick and flavorful recipe is a perfect choice for a delightful and satisfying dinner."></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a brief description
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="country">Recipe origin country:</label>
                        <select class="form-select" name="recipe[countryCode]" id="country" required>
                            <% Object.entries(countryInfoData).forEach(([code, country])=> { %>
                                <option value="<%= code %>" <%=code==='Unknown' ? ' selected' : '' %>>
                                    <%= country.countryFullname %>
                                        <%= country.countryFlag %>
                                </option>
                                <% }); %>
                        </select>
                    </div>

                    <div class="mb-3">
                        <p>Preparation time:</p>
                        <div class="row g-1">
                            <div class="col-6 col-sm-3 col-lg-2 col-xl-2">
                                <select class="form-select text-center" id="prepHours" name="recipe[prepHours]">
                                    <option value="">-</option>
                                    <% for (let i=1; i <=48; i++) { %>
                                        <option value="<%= i %>">
                                            <%= i %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="col-4 col-sm-2 col-lg-1 text-start mt-3 ml-0 pl-0">
                                <label class="form-label" for="prepHours">hours</label>
                            </div>
                            <div class="col-6 col-sm-3 col-lg-2 col-xl-2">
                                <select class="form-select text-center" id="prepMinutes" name="recipe[prepMinutes]"
                                    placeholder="minutes">
                                    <option value="">-</option>
                                    <% for (let i=5; i <=55; i +=5) { %>
                                        <option value="<%= i %>">
                                            <%= i %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="col-4 col-sm-2 col-lg-1 text-start mt-3 ml-0 pl-0">
                                <label class="form-label" for="prepMinutes">minutes</label>
                            </div>
                        </div>
                        <div id="prepTimeValidation" class="">
                            <!-- Prep Time Validation messages will be displayed here -->
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="serves">Serves (number of people):</label>
                        <div class="col-5 col-lg-2 col-xl-2">
                            <select class="form-select text-center" id="serves" name="recipe[serves]" required>
                                <option value="" selected>-</option>
                                <% for (let i=1; i <=15; i++) { %>
                                    <option value="<%= i %>">
                                        <%= i %>
                                    </option>
                                    <% } %>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a number
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-4 pb-4">
                    <h3>Ingredients 🦑</h3>
                    <p>Please <b><u>first</u></b> select your preferred measurement system before adding any
                        ingredients.</p>
                    <label class="form-label" aria-label="Disabled select example" for="preferredSystem">1. Preferred
                        measurement system:</label>
                    <div class="col-9 col-sm-6 col-md-4 col-xl-3">
                        <select class="form-select" name="preferredSystem" id="preferredSystem"
                            onchange="UpdateHiddenInput()">
                            <option value="metric" selected>Metric</option>
                            <option value="imperial">Imperial</option>
                        </select>
                    </div>
                    <input type="hidden" name="recipe[measurementSystem]" id="measurementSystemHidden">
                    <div class="mt-2">
                        <p>2. Add recipe ingredients below:</p>
                        <p class="small text-muted">Valid ingredient format: 1 tablespoon oregano, 0.5 kilograms
                            potatoes, 3 apples, salt.
                            Please <b>do not</b> use fractions like '2/3 cups of flour'.</p>
                    </div>
                    <div id="ingredientsContainer" class="row list-group">
                        <!-- Ingredient input fields will be dynamically added here -->
                    </div>
                    <div id="ingredientsValidation" class="">
                        <!-- Ingredients Validation messages will be displayed here -->
                    </div>
                    <button type="button" class="btn btn-primary mt-2" onclick="addIngredient();">Add
                        Ingredient</button>
                </div>
                <div class="mb-4 pb-4">
                    <h3>Method ✏️</h3>
                    <p>Add recipe steps below:</p>
                    <p class="small text-muted">Recommended format: Preheat oven at 150°C. Whilst the oven is warming up
                        chop the onions and potatoes.</p>
                    <div id="stepsContainer">
                        <!-- Steps input fields will be dynamically added here -->
                    </div>
                    <div id="methodValidation" class="">
                        <!-- Method Validation messages will be displayed here -->
                    </div>
                    <button type="button" class="btn btn-primary" onclick="addStep()">Add Step</button>
                </div>

                <div class="mb-4 pb-4">
                    <h3>Images 📸</h3>
                    <div>
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">Upload recipe images:</label>
                            <input type="file" id="fileInput" class="form-control" name="recipe[images]" multiple
                                required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide at least one image for your recipe
                            </div>
                            <div id="imagesValidation" class="">
                                <!-- Images Validation messages will be displayed here -->
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 mb-3" id="previewContainer"></div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger" id="clearButton" id="clearButton"
                                style="display: none;" onclick="clearFileInput()">Clear image selection</button>
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <div id="formMessage"></div>
                    <button id="submitButton" class="btn btn-success col-12 col-lg-4 offset-lg-4 mt-3" type="submit">Add
                        Recipe</button>
                </div>

            </form>
            <a href="/recipes">All Recipes</a>
        </div>
    </div>

    <script>

        function clearFileInput() {
            const container = document.getElementById('previewContainer');
            const fileInput = document.getElementById('fileInput');
            fileInput.value = '';
            container.innerHTML = '';
        }

        function previewImages(event) {
            const container = document.getElementById('previewContainer');
            const input = event.target;
            const formData = new FormData();

            container.innerHTML = '';

            if (input.files && input.files.length > 0) {
                for (let i = 0; i < input.files.length; i++) {
                    const reader = new FileReader();
                    const file = input.files[i];

                    const miniContainer = document.createElement('div');
                    miniContainer.classList.add('minicontainer');
                    miniContainer.innerHTML = `
                    <div class="card h-100">
                            <div class="card-body d-flex justify-content-center align-items-center h-75">
                                <img class="card-img img-thumbnail previewImage mx-auto">
                            </div>
                            <div class="card-body d-flex flex-column justify-content-end align-items-center">
                                <label class="form-label" name="altTextLabel[]" for="altText${i}">Image ${i + 1} description:</label>
                                <input type="text" name="altText[${i}]" id="altText${i}" placeholder="Image description" maxlength="300" class="form-control" required>
                            </div>
                    </div>`;
                    container.appendChild(miniContainer);

                    reader.onload = function (e) {
                        const previewImage = miniContainer.querySelector('.previewImage');
                        previewImage.src = e.target.result;
                        formData.append(`image[${i}]`, file);
                    };

                    reader.readAsDataURL(file);
                }
            }
            updateClearButtonVisibility();
        }

        const fileInput = document.getElementById('fileInput');
        fileInput.addEventListener('change', previewImages);

        function clearFileInput() {
            const fileInput = document.getElementById('fileInput');
            fileInput.value = '';
            const container = document.getElementById('previewContainer');
            container.innerHTML = '';
            updateClearButtonVisibility();
        }

        function updateClearButtonVisibility() {
            const clearButton = document.getElementById('clearButton');
            const container = document.getElementById('previewContainer');
            clearButton.style.display = container.children.length ? 'flex' : 'none';
        }

        UpdateHiddenInput();

        function UpdateHiddenInput() {
            const selectedSystem = document.getElementById('preferredSystem').value;
            document.getElementById('measurementSystemHidden').value = selectedSystem
        }


        const ingredientsContainer = document.getElementById('ingredientsContainer');
        let ingredientIndex = 0;

        async function addIngredient() {
            const ingredientInputs = document.createElement('div');
            const preferredSystem = document.getElementById('preferredSystem');
            const metricUnits = [{ value: null, text: '-' },
            { value: "l", text: "liters" },
            { value: "g", text: "grams" },
            { value: "ml", text: "milliliters" },
            { value: "kg", text: "kilograms" },
            { value: "tsp", text: "teaspoons" },
            { value: "Tbs", text: "tablespoons" },
            { value: "cup", text: "cups" },
            { value: "mg", text: "milligrams" },
            ];
            const imperialUnits = [{ value: null, text: '-' },
            { value: "gal", text: "gallons" },
            { value: "oz", text: "ounces" },
            { value: "tsp", text: "teaspoons" },
            { value: "Tbs", text: "tablespoons" },
            { value: "cup", text: "cups" },
            { value: "qt", text: "quarts" },
            { value: "fl-oz", text: "fluid ounces" },
            { value: "lb", text: "pounds" },
            ];

            ingredientInputs.innerHTML = `
            <div class="list-group-item">
                <div class="row g-1 ingredient">
                    <div class="col-12 col-lg-2 col-xl-1 text-sm-start text-lg-end">
                            <label class="form-label mt-2" for="ingredientAmount${ingredientIndex}">Amount:</label>
                    </div>
                    <div class="col-12 col-lg-3 col-xl-2">
                        <input type="number" min="0" step="any" class="form-control" id="ingredientAmount${ingredientIndex}" name="recipe[ingredients][${ingredientIndex}][amount]" placeholder="-">
                    </div>
                    <div class="col-12 col-lg-3 col-xl-1 text-sm-start text-lg-end">
                        <label class="form-label mt-2" for="ingredientUnit${ingredientIndex}">Unit:</label>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-2">
                        <select class="form-select" id="ingredientUnit${ingredientIndex}" name="recipe[ingredients][${ingredientIndex}][measurementShorthand]">
                            ${preferredSystem.value === 'metric' ? metricUnits.map(unit => `<option value="${unit.value}">${unit.text}</option>`) : imperialUnits.map(unit => `<option value="${unit.value}" data-system="${unit.system}">${unit.text}</option>`)}
                        </select>
                    </div>
                    <div class="col-12 col-lg-3 col-xl-2 text-sm-start text-lg-end">
                        <label class="form-label mt-2" for="ingredientName${ingredientIndex}">Ingredient name:</label>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-3">
                        <input class="form-control text-lowercase" id="ingredientName${ingredientIndex}" type="text" name="recipe[ingredients][${ingredientIndex}][ingredientName]" placeholder="-" required>
                    </div>
                    <div class= "col-12 col-lg-2 col-xl-1 mt-3 mt-md-1 ms-lg-auto">   
                        <button type="button" class="btn btn-danger" style="width: 100%;" onclick="deleteIngredient(this.parentNode.parentNode.parentNode); resetMeasurementSystem()">Delete</button>
                    </div>
                </div>
            </div>
                `;
            ingredientsContainer.appendChild(ingredientInputs);
            disableMeasurementSystem();
            ingredientIndex++;
            updateIngredientIndexes()
        }

        function getIngredients() {
            return Array.from(document.querySelectorAll('.ingredient'));
        }

        function updateIngredientIndexes() {
            const amountInputs = document.querySelectorAll('input[name^="recipe[ingredients]"][name$="[amount]"]');
            const unitSelects = document.querySelectorAll('select[name^="recipe[ingredients]"][name$="[measurementShorthand]"]');
            const nameInputs = document.querySelectorAll('input[name^="recipe[ingredients]"][name$="[ingredientName]"]');
            const labelForAmounts = document.querySelectorAll('label[for^="ingredientAmount"]');
            const labelForUnits = document.querySelectorAll('label[for^="ingredientUnit"]');
            const labelForNames = document.querySelectorAll('label[for^="ingredientName"]');

            amountInputs.forEach((amountInput, index) => {
                amountInput.id = `ingredientAmount${index}`;
                amountInput.name = `recipe[ingredients][${index}][amount]`;
            });

            unitSelects.forEach((unitSelect, index) => {
                unitSelect.id = `ingredientUnit${index}`;
                unitSelect.name = `recipe[ingredients][${index}][measurementShorthand]`;
            });

            nameInputs.forEach((nameInput, index) => {
                nameInput.id = `ingredientName${index}`;
                nameInput.name = `recipe[ingredients][${index}][ingredientName]`;
            });

            labelForAmounts.forEach((labelForAmount, index) => {
                labelForAmount.setAttribute('for', `ingredientAmount${index}`);
            });

            labelForUnits.forEach((labelForUnit, index) => {
                labelForUnit.setAttribute('for', `ingredientUnit${index}`);
            });

            labelForNames.forEach((labelForName, index) => {
                labelForName.setAttribute('for', `ingredientName${index}`);
            });
        }


        function deleteIngredient(button) {
            const ingredientToRemove = button.parentNode;
            const ingredients = Array.from(document.querySelectorAll('.ingredient'));

            const deletedIndex = ingredients.indexOf(ingredientToRemove);

            ingredients.splice(deletedIndex, 1);
            ingredientToRemove.remove();

            updateIngredientIndexes();
        }

        function disableMeasurementSystem() {
            const preferredSystem = document.getElementById('preferredSystem');
            if (ingredientsContainer.children.length > 0) {
                preferredSystem.disabled = true;
            }
        }

        function resetMeasurementSystem() {
            const measureSystemSelect = document.getElementById('preferredSystem');
            if (ingredientsContainer.children.length === 0) {
                measureSystemSelect.disabled = false;
            }
        }

        let stepIndex = 0;
        const stepsContainer = document.getElementById('stepsContainer');

        function addStep() {
            const stepInput = document.createElement('div');
            stepInput.innerHTML = `
                <div class="row mb-2">
                    <div class="col-12 col-xl-1">
                        <label for="recipeMethod${stepIndex}" class="form-label mt-2">Step ${stepIndex + 1}:</label>
                    </div>
                    <div class="col-12 col-xl-10">
                        <textarea class="form-control" id="recipeMethod${stepIndex}" name="recipe[method][${stepIndex}]" rows="1" cols="50" required></textarea>
                    </div>
                    <div class="col-xl-1">
                        <button type="button" class="btn btn-danger float-end mt-2 mt-xl-0" onclick="deleteStep(this.parentNode.parentNode)">Delete</button>
                    </div>
                </div>
            `;
            stepsContainer.appendChild(stepInput);
            stepIndex++;
        }

        function deleteStep(button) {
            const steps = Array.from(stepsContainer.children);
            const deletedIndex = steps.indexOf(button.parentNode);
            button.parentNode.remove();
            updateStepNumbers(deletedIndex);
        }

        function updateStepNumbers(deletedIndex) {
            const steps = Array.from(stepsContainer.children);
            steps.forEach((step, index) => {
                const label = step.querySelector('label');
                const textarea = step.querySelector('textarea');

                label.textContent = `Step ${index + 1}:`;
                label.setAttribute('for', `recipeMethod${index}`);

                textarea.id = `recipeMethod${index}`;
                textarea.name = `recipe[method][${index}]`;
            });
            if (deletedIndex !== undefined) {
                stepIndex = steps.length;
            }
        }

        // Custom Validation messages

        function validatePreparationTime() {
            const prepHours = document.getElementById('prepHours').value;
            const prepMinutes = document.getElementById('prepMinutes').value;
            const prepTimeValidation = document.getElementById('prepTimeValidation');

            if (prepHours === '' && prepMinutes === '') {
                document.getElementById('prepHours').required = true;
                document.getElementById('prepMinutes').required = true;
                const invalidMessage = createMessage('invalidMessage', 'text-danger', 'Please provide a preparation time');
                prepTimeValidation.innerHTML = '';
                prepTimeValidation.appendChild(invalidMessage);
                return false;
            } else {
                document.getElementById('prepHours').required = false;
                document.getElementById('prepMinutes').required = false;

                const validMessage = createMessage('validMessage', 'text-success', 'Looks good!');
                prepTimeValidation.innerHTML = '';
                prepTimeValidation.appendChild(validMessage);
                return true;
            }
        }

        function validateIngredients() {
            const ingredientsValidation = document.getElementById('ingredientsValidation');
            if (ingredientsContainer.childElementCount === 0) {
                const invalidMessage = createMessage('invalidMessage', 'text-danger', 'Please add at least one ingredient to your recipe');
                ingredientsValidation.innerHTML = '';
                ingredientsValidation.appendChild(invalidMessage);
                return false;
            } else {
                ingredientsValidation.innerHTML = '';
                return true;
            }
        }

        function validateMethod() {
            const methodValidation = document.getElementById('methodValidation');
            if (stepsContainer.childElementCount === 0) {
                const invalidMessage = createMessage('invalidMessage', 'text-danger', 'Please add at least one step to your recipe method');
                methodValidation.innerHTML = '';
                methodValidation.appendChild(invalidMessage);
                return false;
            } else {
                methodValidation.innerHTML = '';
                return true;
            }
        }

        function createMessage(id, className, text) {
            const message = document.createElement('div');
            message.setAttribute('id', id);
            message.classList.add(className);
            message.innerHTML = `<small>${text}</small>`;
            return message;
        }

        function checkRequiredFields(form) {
            const requiredInputs = form.querySelectorAll('input[required], select[required], textarea[required]');
            for (const input of requiredInputs) {
                if (!input.value.trim()) {
                    return false;
                }
            }
            return true;
        }

        document.addEventListener('DOMContentLoaded', function () {
            const prepHours = document.getElementById('prepHours');
            const prepMinutes = document.getElementById('prepMinutes');
            const recipeForm = document.getElementById('recipeForm');
            let formSubmitted = false;
            recipeForm.addEventListener('submit', function () { formSubmitted = true });
            let isErrorMessageDisplayed = false;

            function validateAndPreventSubmission(event) {
                validatePreparationTime();
                validateIngredients();
                validateMethod();
                checkRequiredFields(recipeForm)
                if ((!validatePreparationTime()) || (!validateIngredients()) || (!validateMethod()) || (!checkRequiredFields(recipeForm))) {
                    event.preventDefault();
                    if (!isErrorMessageDisplayed) {
                        isErrorMessageDisplayed = true;
                        const formMessageContainer = document.getElementById('formMessage');
                        const errorMessage = createMessage('invalidMessage', 'text-danger', 'Oups! Looks like something is missing, please have a look above ❤️‍🩹');
                        errorMessage.className = 'fade-out-message text-center';
                        formMessageContainer.appendChild(errorMessage);
                        void errorMessage.offsetWidth;
                        setTimeout(() => {
                            errorMessage.classList.add('fade-out');
                            setTimeout(() => {
                                errorMessage.remove();
                                isErrorMessageDisplayed = false;
                            }, 1000);
                        }, 6000);
                    }
                }
            }

            prepHours.addEventListener('change', function () {
                if (formSubmitted) {
                    validatePreparationTime();
                }
            });

            prepMinutes.addEventListener('change', function () {
                if (formSubmitted) {
                    validatePreparationTime();
                }
            });

            function clearImagesValidation(event) {
                imagesValidation = document.getElementById('imagesValidation');
                imagesValidation.innerHTML = ''
            }

            const observer = new MutationObserver(function (mutationsList, observer) {
                for (const mutation of mutationsList) {
                    if (mutation.type === 'childList' && formSubmitted) {
                        validateIngredients();
                        validateMethod();
                    }
                }
            });

            const observerConfig = { childList: true };

            observer.observe(ingredientsContainer, observerConfig);
            observer.observe(stepsContainer, observerConfig);

            recipeForm.addEventListener('submit', function (event) {
                validateAndPreventSubmission(event);
                clearImagesValidation(event);
            });

        });

        document.addEventListener('DOMContentLoaded', () => {
            const fileInput = document.getElementById('fileInput');
            const maxImages = 10;
            const maxImageSizeBytes = 1000000; // Maximum image size in bytes (1 MB)
            const allowedExtensions = ['jpeg', 'jpg', 'png']; // Allowed file extensions

            fileInput.addEventListener('change', (event) => {
                const files = event.target.files;
                let totalSize = 0;
                let valid = true;
                imagesValidation.innerHTML = '';

                // Check the number of files
                if (files.length > maxImages) {
                    const invalidMessage = createMessage('invalidMessage', 'text-danger', `You can upload a maximum of ${maxImages} images.`);
                    imagesValidation.innerHTML = '';
                    imagesValidation.appendChild(invalidMessage);
                    valid = false;
                }

                // Check the size and type of each file
                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    totalSize += file.size;

                    // Check file size
                    if (file.size > maxImageSizeBytes) {
                        const invalidMessage = createMessage('invalidMessage', 'text-danger', `File "${file.name}" exceeds the maximum size of 1MB. Please choose another image or try compress your image at https://compressjpeg.com/ `);
                        imagesValidation.innerHTML = '';
                        imagesValidation.appendChild(invalidMessage);
                        valid = false;
                    }

                    // Check file type (extension)
                    const fileExtension = file.name.split('.').pop().toLowerCase();
                    if (!allowedExtensions.includes(fileExtension)) {
                        const invalidMessage = createMessage('invalidMessage', 'text-danger', `"${file.name}" is an invalid file type. Please make sure your images are one of the following: jpeg, jpg, png`);
                        imagesValidation.innerHTML = '';
                        imagesValidation.appendChild(invalidMessage);
                        valid = false;
                    }
                }

                // If any validation failed, clear the file input
                if (!valid) {
                    clearFileInput()
                }
            });
        });

    </script>

    <style>
        .previewImage {
            max-width: 200px;
            max-height: 300px;
        }

        .fade-out-message {
            opacity: 1;
            transition: opacity 1s ease-in-out;
            color: red;
            font-weight: bold;
        }

        .fade-out-message.fade-out {
            opacity: 0;
        }
    </style>