<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card">
                <img src="<%=recipe.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= recipe.title %>
                    </h5>
                    <p class="card-text">
                        <%= recipe.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= `Submitted by: ${recipe.author.username}` %>
                    </li>
                    <li class="list-group-item text-muted">
                        <%= `Recipe origin: ${recipe.countryFullname} ${recipe.countryFlag}` %>
                    </li>
                    <li class="list-group-item">
                        <%= `Time needed: ${recipe.prepHours ? recipe.prepHours + (recipe.prepHours===1 ? " hour"
                            : " hours" ) : "" } ${recipe.prepMinutes ? recipe.prepMinutes + " minutes" : "" }` %>
                    </li>
                    <li class="list-group-item">For <%= recipe.serves %> people</li>
                    <li class="list-group-item"> Ingredients:
                        <ul>
                            <%if(recipe.measurementSystem==='metric' ){recipe.ingredients.forEach(function(ingredient) {
                                %>
                                <li>
                                    <%= `${ingredient.amount !==null ? roundValue(ingredient.amount):''}
                                        ${ingredient.measurementShorthand !==null ?
                                        (ingredient.measurementShorthand==='cup' && ingredient.amount> 1 ? 'cups' :
                                        (ingredient.measurementShorthand === 'Tbs' ? 'tbsp' :
                                        ingredient.measurementShorthand))
                                        : ''} ${ingredient.ingredientName}` %>
                                </li>
                                <% });} else{convertedIngredients.forEach(function(ingredient){%>
                                    <li>
                                        <%= `${ingredient.amount !==null ? roundValue(ingredient.amount) :''}
                                            ${ingredient.measurementShorthand !==null ?
                                            (ingredient.measurementShorthand==='cup' && ingredient.amount> 1 ? 'cups' :
                                            (ingredient.measurementShorthand === 'Tbs' ? 'tbsp' :
                                            ingredient.measurementShorthand))
                                            : ''}
                                            ${ingredient.ingredientName}` %>
                                    </li>
                                    <% })} %>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        Method:
                        <ol>
                            <% recipe.method.forEach(function(method) { %>
                                <li>
                                    <%= `${method}` %>
                                </li>
                                <% }); %>
                        </ol>
                    </li>
                </ul>
                <% if( currentUser && recipe.author.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a class="card-link btn btn-warning" href="/recipes/<%=recipe._id%>/edit">Edit</a>
                        <form class="d-inline" action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="col-12 col-xl-6 mt-4">
            <h2>Rate this recipe</h2>
            <form action="/recipes/<%=recipe._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please tell us what you think of this recipe
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for (let review of recipe.reviews){ %>
                <div class="mb-3 card">
                    <div class=" card-body">
                        <h5 class="card-title">Rating: <%= review.rating %>
                        </h5>
                        <p class="card-text"> Review: <%= review.body %>
                        </p>
                        <form action="/recipes/<%=recipe._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    </div>

    <footer>
        <a href="/recipes">All Recipes</a>
    </footer>